.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.img-box{
    width: 100%;
    object-fit: cover;
}

.service-style-one .single-service-style-one .content-box{
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom: 0;
}

.text-white{
    color: #fff !important;
}
.faq-style-one .accrodion-grp .accrodion.active .accrodion-title h4{
    color: white !important;
}

.header-home-two{
    background-color: #fff !important;
}

.header-navigation ul.navigation-box > li > a{
    color: #000;
}
